/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    font-family:Poppins,Arial,sans-serif;
    background:#ffffff;
}

/* ===========================
   SPLASH
=========================== */

#splash{
    position:fixed;
    inset:0;
    background:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:1000;
    animation:hideSplash 2s forwards;
    animation-delay:2s;
}

.logo{
    width:150px;
}

.logo-container h1{
    margin-top:20px;
    color:#0b4b8c;
    font-size:32px;
    letter-spacing:2px;
}

/* ===========================
   INTRO
=========================== */

#intro{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    opacity:0;

    animation:showIntro .8s forwards;
    animation-delay:2.2s;
}

/* ===========================
   INDIA SVG
=========================== */

#indiaSVG{

    width:65vw;
    max-width:700px;
    height:auto;

}

#indiaOutline{

    fill:none;

    stroke:#FF9933;

    stroke-width:1.4;

    stroke-linecap:round;

    stroke-linejoin:round;

}

/* ===========================
   TRUCK
=========================== */

#truck{

    position:absolute;

    width:170px;

    left:50%;

    top:80%;

    transform:translate(-50%,-50%);

    z-index:10;

    transition:transform .1s linear;

}

/* ===========================
   HOME PAGE
=========================== */

#homepage{

    position:fixed;

    inset:0;

    background:white;

    opacity:0;

    pointer-events:none;

    transition:1s;

}

/* ===========================
   ANIMATIONS
=========================== */

@keyframes hideSplash{

    to{

        opacity:0;

        visibility:hidden;

    }

}

@keyframes showIntro{

    to{

        opacity:1;

    }

}

/* ===========================
   MOBILE
=========================== */

@media(max-width:768px){

.logo{
    width:110px;
}

.logo-container h1{
    font-size:22px;
}

#indiaSVG{

    width:92vw;

}

#truck{

    width:100px;

}

}


